@import 'typografy';


body, html {
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-family: Poppins, Helvetica, "sans-serif";
    -webkit-font-smoothing: antialiased;
}

body {
    background: rgb(238, 240, 248);
    color: rgb(63, 66, 84);
}


.form-control{
    transition: color .15s ease, background-color .15s ease, border-color .15s ease, box-shadow .15s ease;
}

.right-side-modal{
    position: fixed;
    top:0;
    right:0;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 350px!important;
    .ant-modal-content{
        border-radius: 0;
        
    }
}